<div class="password_page-main">
    <h2 class="" id="DialogHeading">
      {{ 'general.password_page.login_form_heading' | t }}
    </h2>
      <div class="rte rte--block">
        {%- if shop.password_message != blank -%}
          <div class="password-content">
            {{ shop.password_message }}
          </div>
        {%- endif -%}
      </div>
    {%- form 'storefront_password', class: 'password-form' -%}
      <div class="password__field field{% if form.errors %} password__field--error{% endif %}">
        <input
          type="password"
          name="password"
          id="Password"
          class="field__input"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="PasswordLoginForm-password-error"
          {%- endif -%}
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        >
        {%- if form.errors -%}
          <div id="PasswordLoginForm-password-error" role="status">
            <span class="screen-reader-only">{{ 'accessibility.error' | t }}</span>
            <span class="form__message-success">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
          </div>
        {%- endif -%}
      </div>
      <button name="commit" class="password-btn button button--outline">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {%- endform -%}
    <small class="password__login password__text">{{ 'general.password_page.admin_link_html' | t }}</small>
</div>

{% schema %}
  {
    "name": "main-password",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}